@import "~styles/variables.scss";

start-game-page {
  display: block;
  height: 100%;
  color: #FFFFFF;

  .start-game-page {
    height: 100%;

    &.liver {
      background: $liver-background-color;
    }

    &.pancreas {
      background: $pancreas-background-color;

    }

    &.kidney {
      background: $kidney-background-color;

    }

    &.stomach {
      background: $stomach-background-color;
    }

    .bubble {
      text-align: center;
      padding: 0 40px;

      h2 {
        margin-top: 0;
        text-transform: uppercase;
      }

      > img {
        width: 100%;
      }

      champion {
        height: 74vw;
        margin: 20px 0;
      }
    }
  }
}
