$default-background-color: #172F46;

$default-text-color: #FFFFFF;
$accent-color: #34CBC9;

$liver-background-color: #11BF9D;
$pancreas-background-color: #D94C97;
$kidney-background-color: #DE4747;
$stomach-background-color: #0A66CF;
